<!DOCTYPE html>
<html>
<head>
    <title>CloudBees Jenkins Support. Trust Our Dedicated Jenkins Experts | CloudBees</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron" style="height: 100vh;">
    <div class="container">
        <div class="row text-center">
            <div class="field field-name-field-cs-alt-image field-type-image field-label-hidden">
                <div class="field-items">
                    <div class="field-item even"><img class="center-block img-responsive" typeof="foaf:Image"
                                                      src="https://www.cloudbees.com/sites/default/files/styles/make_128/public/jenkins_logo_8.png?itok=5z3Rfylj"
                                                      width="92" height="128" alt=""/></div>
                </div>
            </div>
            <h2>
                <div class="field field-name-field-cjppp-banner-title field-type-text-long field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">Thank you for subscribing to CloudBees Jenkins Support!</div>
                    </div>
                </div>
            </h2>
            <h4>
                <div class="field field-name-field-cjppp-banner-subtitle field-type-text-long field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            You can now access your CloudBees Jenkins Support portal.
                        </div>
                    </div>
                </div>
            </h4>
            <div class="field-items" style="margin-top: 25px;">
                <div class="field-item even">
                    <a href="https://grandcentral.cloudbees.com/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
                </div>
            </div>
            <div class="field-items" style="margin-top: 25px;">
                <div class="field-item even">
                    Check out the other <a href="https://console.cloud.google.com/marketplace/partners/cloudbees">CloudBees solutions in the Google Cloud Platform Marketplace</a>.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>