<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- HoneyUI CSS -->
    <link rel="stylesheet" href="https://cdn.cloudbees.com/honeyui/1.2.1/honeyui-min.css">
    <title>CloudBees for GCP Marketplace</title>
</head>
<body>
<div class="grid-story-example">
    <div class="container" style="margin: 25px;">
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <img class="center-block img-responsive" typeof="foaf:Image" style="width: 300px;"
                     src="https://www.cloudbees.com/sites/default/files/cb.svg"/>
            </div>
        </div>
        <div class="row justify-content-center" style="margin: 25px;">
            <div class="col-md-auto">
                Please add your information so that we may create your CloudBees account.
            </div>
        </div>
        <div class="row justify-content-center" style="margin: 25px;">
            <div class="col-md-auto">
                <form action="/finishSaas" method="post" class="form-inlin justify-content-center">
                    <div class="form-group">
                        <input name="acct" type="hidden" class="form-control" value="{{.acct}}">
                    </div>
                    <div class="form-group">
                        <input name="prod" type="hidden" class="form-control" value="{{.prod}}">
                    </div>
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input name="firstName" type="text" required="true" class="form-control"
                               placeholder="First name" value="{{.given_name}}">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input name="lastName" type="text" required="true" class="form-control"
                               placeholder="Last name" value="{{.family_name}}">
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Email</label>
                        <input name="emailAddress" type="text" required="true" class="form-control"
                               placeholder="yourname@yourcompany.com" value="{{.email}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phone">Company phone number, with country code</label>
                        <input name="phone" type="text" required="true" class="form-control" placeholder="01-000-000-000"
                               value="{{.phone_number}}">
                    </div>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input name="company" type="text" required="true" class="form-control" placeholder="Your company's name">
                    </div>
                    <div class="form-group">
                        <label for="timezone">Select Timezone for your primary support location.  Support SLA is measured against this designation.</label>
                        <select name="timezone" class="form-control" required>
                            <option value="">Select a Timezone</option>
                            <option value="GMT-12">(GMT-12:00) International Date Line West</option>
                            <option value="GMT-11">(GMT-11:00) Midway Island, Samoa</option>
                            <option value="GMT-10">(GMT-10:00) Hawaii</option>
                            <option value="GMT-9">(GMT-09:00) Alaska</option>
                            <option value="GMT-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                            <option value="GMT-8">(GMT-08:00) Tijuana, Baja California</option>
                            <option value="GMT-7">(GMT-07:00) Arizona</option>
                            <option value="GMT-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                            <option value="GMT-7">(GMT-07:00) Mountain Time (US & Canada)</option>
                            <option value="GMT-6">(GMT-06:00) Central America</option>
                            <option value="GMT-6">(GMT-06:00) Central Time (US & Canada)</option>
                            <option value="GMT-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                            <option value="GMT-6">(GMT-06:00) Saskatchewan</option>
                            <option value="GMT-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                            <option value="GMT-5">(GMT-05:00) Eastern Time (US & Canada)</option>
                            <option value="GMT-5">(GMT-05:00) Indiana (East)</option>
                            <option value="GMT-4">(GMT-04:00) Atlantic Time (Canada)</option>
                            <option value="GMT-4">(GMT-04:00) Caracas, La Paz</option>
                            <option value="GMT-4">(GMT-04:00) Manaus</option>
                            <option value="GMT-4">(GMT-04:00) Santiago</option>
                            <option value="GMT-3.5">(GMT-03:30) Newfoundland</option>
                            <option value="GMT-3">(GMT-03:00) Brasilia</option>
                            <option value="GMT-3">(GMT-03:00) Buenos Aires, Georgetown</option>
                            <option value="GMT-3">(GMT-03:00) Greenland</option>
                            <option value="GMT-3">(GMT-03:00) Montevideo</option>
                            <option value="GMT-2">(GMT-02:00) Mid-Atlantic</option>
                            <option value="GMT-1">(GMT-01:00) Cape Verde Is.</option>
                            <option value="GMT-1">(GMT-01:00) Azores</option>
                            <option value="GMT+0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                            <option value="GMT+0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London
                            </option>
                            <option value="GMT+1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                            <option value="GMT+1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                            <option value="GMT+1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="GMT+1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                            <option value="GMT+1">(GMT+01:00) West Central Africa</option>
                            <option value="GMT+2">(GMT+02:00) Amman</option>
                            <option value="GMT+2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                            <option value="GMT+2">(GMT+02:00) Beirut</option>
                            <option value="GMT+2">(GMT+02:00) Cairo</option>
                            <option value="GMT+2">(GMT+02:00) Harare, Pretoria</option>
                            <option value="GMT+2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                            <option value="GMT+2">(GMT+02:00) Jerusalem</option>
                            <option value="GMT+2">(GMT+02:00) Minsk</option>
                            <option value="GMT+2">(GMT+02:00) Windhoek</option>
                            <option value="GMT+3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                            <option value="GMT+3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                            <option value="GMT+3">(GMT+03:00) Nairobi</option>
                            <option value="GMT+3">(GMT+03:00) Tbilisi</option>
                            <option value="GMT+3.5">(GMT+03:30) Tehran</option>
                            <option value="GMT+4">(GMT+04:00) Abu Dhabi, Muscat</option>
                            <option value="GMT+4">(GMT+04:00) Baku</option>
                            <option value="GMT+4">(GMT+04:00) Yerevan</option>
                            <option value="GMT+4.5">(GMT+04:30) Kabul</option>
                            <option value="GMT+5">(GMT+05:00) Yekaterinburg</option>
                            <option value="GMT+5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                            <option value="GMT+5.5">(GMT+05:30) Sri Jayawardenapura</option>
                            <option value="GMT+5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                            <option value="GMT+5.75">(GMT+05:45) Kathmandu</option>
                            <option value="GMT+6">(GMT+06:00) Almaty, Novosibirsk</option>
                            <option value="GMT+6">(GMT+06:00) Astana, Dhaka</option>
                            <option value="GMT+6.5">(GMT+06:30) Yangon (Rangoon)</option>
                            <option value="GMT+7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="GMT+7">(GMT+07:00) Krasnoyarsk</option>
                            <option value="GMT+8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                            <option value="GMT+8">(GMT+08:00) Kuala Lumpur, Singapore</option>
                            <option value="GMT+8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                            <option value="GMT+8">(GMT+08:00) Perth</option>
                            <option value="GMT+8">(GMT+08:00) Taipei</option>
                            <option value="GMT+9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                            <option value="GMT+9">(GMT+09:00) Seoul</option>
                            <option value="GMT+9">(GMT+09:00) Yakutsk</option>
                            <option value="GMT+9.5">(GMT+09:30) Adelaide</option>
                            <option value="GMT+9.5">(GMT+09:30) Darwin</option>
                            <option value="GMT+10">(GMT+10:00) Brisbane</option>
                            <option value="GMT+10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                            <option value="GMT+10">(GMT+10:00) Hobart</option>
                            <option value="GMT+10">(GMT+10:00) Guam, Port Moresby</option>
                            <option value="GMT+10">(GMT+10:00) Vladivostok</option>
                            <option value="GMT+11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                            <option value="GMT+12">(GMT+12:00) Auckland, Wellington</option>
                            <option value="GMT+12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                            <option value="GMT+13">(GMT+13:00) Nuku'alofa</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>