<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- HoneyUI CSS -->
    <link rel="stylesheet" href="https://cdn.cloudbees.com/honeyui/1.2.1/honeyui-min.css">
    <title>CloudBees for GCP Marketplace</title>
</head>
<body>
<div class="grid-story-example">
    <div class="container" style="margin: 25px;">
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <img class="center-block img-responsive" typeof="foaf:Image" style="width: 300px;"
                     src="https://www.cloudbees.com/sites/default/files/cb.svg"/>
            </div>
        </div>
        <div class="row justify-content-center" style="margin: 25px;">
            <div class="col-md-auto">
                To subscribe, you will need to create a new CloudBees account or sign into your existing CloudBees
                account. This will allow you to access your CloudBees support portal.
            </div>
        </div>
        <div class="row justify-content-center" style="margin: 25px;">
            <div class="col-md-auto">
                <a href="/login" class="btn btn-primary mr-2" role="button" aria-pressed="true">Let's get started!</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>