<!DOCTYPE html>
<html>
<head>
    <title>CloudBees Jenkins Support. Trust Our Dedicated Jenkins Experts | CloudBees</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron" style="height: 100vh;">
    <div class="container">
        <div class="row text-center">
            <div class="field field-name-field-cs-alt-image field-type-image field-label-hidden">
                <div class="field-items">
                    <div class="field-item even"><img class="center-block img-responsive" typeof="foaf:Image" style="width: 300px;"
                                                      src="https://www.cloudbees.com/sites/default/files/cb.svg"/></div>
                </div>
            </div>
            <h4>
                <div class="field field-name-field-cjppp-banner-subtitle field-type-text-long field-label-hidden" style="margin: 25px;">
                    <div class="field-items">
                        <div class="field-item even">To subscribe, you will need to create a new CloudBees account or sign into your existing CloudBees account. This will allow you to access your CloudBees support portal.</i>
                        </div>
                    </div>
                </div>
            </h4>
            <div class="field-items">
                <div class="field-item even">
                    <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Let's get started!</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>